.hero {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hero-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.hero h1 {
  margin: 10px 0;
  font-size: 2em;
}
